@model EntityFramework_App.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("Login","Account", FormMethod.Post))
 {
<div class="form-row mx-auto" style="width:300px">
    <div class="form-group col-md-12">
        @Html.LabelFor(y => y.Username)
        @Html.TextBoxFor(y => y.Username, new { placeholder = "UserName", @class = "form-control" })
        @Html.ValidationMessageFor(y => y.Username)
    </div>

    <div class="form-group col-md-12">
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { placeholder = "Password", @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password)
    </div>


    @Html.ValidationSummary()
    <button type="submit" class="btn btn-success">Login</button>
</div>

 }

